<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ajeer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ajeer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>نحتاج إلى إذن لاستخدام الكاميرا لتحديث صورتك الشخصية.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق الوصول إلى موقعك لتحديد مقدمي الخدمات القريبين منك لتقديم الخدمة بسرعة.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location for...</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location for...</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>يحتاج التطبيق الوصول إلى الميكروفون لتمكين التواصل الصوتي مع مقدم الخدمة أو العميل إذا لزم الأمر.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>نحتاج إلى إذن لحفظ الصور في مكتبة الصور الخاصة بك.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يحتاج التطبيق الوصول إلى مكتبة الصور للسماح برفع الصور عند تقديم الخدمات أو إصلاح المشاكل.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserNotificationUsageDescription</key>
	<string>We need your permission to send you notifications</string>
	<key>aps-environment</key>
	<string>production</string>
	<key>firebase_messaging_auto_init_enabled</key>
	<false/>
</dict>
</plist>
